Package: com.congtu.shahierarchydump
Name: SHA Hierarchy Dump
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Dump UIKit view hierarchy for YouTube and Facebook
Maintainer: ConGTu
Author: ConGTu
Section: Tweaks
