Package: com.congtu.shahierarchydump
Name: SHA Hierarchy Dump
Version: 1.0.0
Architecture: iphoneos-arm64
Description: YouTube hierarchy diagnostic tweak
Maintainer: ConGTu
Author: ConGTu
Section: Tweaks
